body
{
	border-radius: 5px;
	margin: 0 auto;
	max-width: 1024px;
}
body header{
	font-family: helvetica;
}
body header img
{
	float: right;
	margin: -100px 30px;
	width: 100px;
}

body header h1
{
	margin: 10px 0px 0px 30px;
}
h1{
	text-align: center;
	font-size: 24px;
}
nav ul li a{
	color:purple;
}
nav{
	display:none;
	color:black;
}
section 
{
	text-align: center;
}
table tr th{
	text-align: center;
}
.entradaUsuario
{
	margin: 0 auto;
	width: 350px;
}
.gruposDocente{
	display: none;
	width:900px;
}
#sep{
	position:absolute;
	width: 315px;
	float:left;

}
#txtDocente, #txtClave{
	border-bottom: 1px solid purple;
}
#titulo-entrar{
	color:white;
}
